
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px;
  background-color: #F2F0F0;
}

.contenedor{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
h2{
  color: white;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px #0E3659;
}
.form-group{
  background-color: #3A558C;
  border-radius: 12px;
  margin: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group input{
  margin: 15px;
  width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 5px;
}
input[name="entrar"]{
  width: 120px;
  border-radius: 10px;
  background-color: #4886D9;
  cursor: pointer;
}

.extras{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
} 

.extras a {
  font-size: 14px;
  color: #3A558C;
  text-decoration: none;
}

.extras span {
  font-size: 14px;
  color: #333;
}
.extras a:hover {
  text-decoration: none;
}