
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: #F2F0F0;
}

.contenedor{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.new-container{
  background-color: #4D3B8C;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
h2{
  color: white;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px #0367A6;
}
.new-group{
  background-color: #0367A6;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

input[name='confirmar']{
  width: 100px;
  cursor: pointer;
  background-color: white;
  color: #042F40;
}
input[name='confirmar']:hover{
  background-color: #ACD1F2;
}

.atras{
  text-align: center;
  color: #3A558C;
}
.atras a{
  text-decoration: none;
}
.atras a:hover{
  color: #21BFBF;
}