

body{
  display: flex;
  flex-direction: row;
}
nav{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 300px;
  height:max-content;
}

.profile{

}

main{
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}