body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
  background-color: #F2F2F2;
}
.sign-up-container{
  background-color: #0367A6;
  width: 310px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px grey;
}

h1{
  color: white;
  text-shadow: 2px 2px #0540F2;
  font-size: 38px;
  text-align: center;
  margin: 10px 0px;
}
.sign-up-form{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.datos{
  display: flex;
  margin-bottom: 10px;
}
.datos input{
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.datos fieldset{
  color: white;
  border: none;
}
.datos legend{
  margin: 5px;
}

.regis{
  display: flex;
  margin-bottom: 10px;
}
.regis input{
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.regis fieldset{
  color: white;
  border: none;
}
.regis legend{
  margin: 5px;
}

#put{
  justify-content: center; /*el input no se centra*/
  max-width: 105px;
  font-size: 14px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  background-color: #4886D9;
  border-radius: 10px;
}
#put:hover{
  background-color: #0E6073;
}
.log{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 300px;
  color: #0E3659;
}

a{
  text-decoration: none;
  color: #0540F2;
}
a:hover{
  color: #0E3659;
}